<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}

{% if users %}
  {% for user in users %}
<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container" style = "text-align: center">
        <font color="white">
            <h1>{{user.user_name}}'s profile</h1>
        </font>
    </div>
</div>

    <div class="container">
        <div class="col-lg-12">
          <h1>User Profile</h1>
          <p>User Name: {{user.user_name}}</p>
          <p>Inventory: {{user.car_sell}}</p>
          <p>Interested in: {{user.favourite}}</p>
          <div class="profile-userbuttons">
              <button type="button" class="btn btn-success btn-sm">Follow</button>
              <button type="button" class="btn btn-danger btn-sm">Message</button>
          </div>
        </div>
    </div>
      {% endfor %}
{% else %}
<div class="jumbotron" style="background-image: url('/static/photos/carbackground.jpg') !important">
    <div class="container" style = "text-align: center">
        <font color="white">
            <h1>User doesn't Exist</h1>
        </font>
    </div>
</div>

{% endif %}

    {% include 'footer.html' %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
