.homepage-text {
  font-size: large
}

.homepage-text {
  color : #777 ;
}

.bki {
<<<<<<< HEAD
  background-image: url('/Lokahi_Fintech/static/photos/crowdfunding1.jpg')
=======
  background-image: url("/Lokahi_Fintech/static/photos/crowdfunding1.jpg")
  
>>>>>>> d586d82472b97c7d4bb2d37ec0bc87f7afb00de0
}