<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<!-- LOGIN TEST -->
<body>

{% load staticfiles %}
<div class="jumbotron" id="bki" style="background-image: url({% static 'photos/crowdfunding1.jpg' %})">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
    </div>
</div>


    <h2>Search</h2>

    <form method="get" action="">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <ul>
            {% for report in page.object_list %}
            {% if user.is_superuser or user.username == report.owner or not report.private %}
                <h3>  {{ report.title }}</h3>
                <li> Owner: {{ report.owner }}</li>
                <li> Company: {{ report.company }}</li>
                <li> CEO: {{ report.ceo }}</li>
                <li> Phone {{ report.phone }}</li>
                <li> Location: {{ report.location }}</li>
                <li> Country: {{ report.country}}</li>
                <li> Industry: {{ report.industry }}</li>
                <li> Sector: {{ report.sector }}</li>
                <li> Projects: </li>

                <h5>{{ report.projects }}</h5>
                <h5> {{ report.projects2 }}</h5>
                <h5> {{ report.projects3 }}</h5>
                <h5>{{ report.projects4 }}</h5>
                <h5> {{ report.projects5 }}</h5>
                <li> Private: {{ report.is_private }}</li>
                <li> Encrypted?: {{ report.is_encrypted }}</li>
                <li> Created at: {{ report.created_at }}</li>

                {% if report.files.all %}
                <h4> Files </h4>
                {% endif %}
                {% for f in report.files.all %}
                <li> File Encrypted: {{ f.FileKey }}</li>
                <li> File Encrypted: {{ f.encrypted }}</li>
                {% if f.encrypted %}
                <li>Encrypted file: {{f.file.name}}</li>
                {% else %}
                <li><a href="/{{f.actualurl}}" target="_blank">{{f.file.name}}</a>
                {% endif %}

                {% endfor %}
                <br>



               {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </form>



{% include 'footer.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/Lokahi_Fintech/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>