<!DOCTYPE html>
<html>
{% include 'header2.html' %}
<div class="jumbotron" id="bki" style="background-color: #04a9af">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowdFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
    </div>
</div>
<body>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<!-- LOGIN TEST -->
<div>
    <div>

        {% load staticfiles %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="name">Groups</h2>
                    <hr class="star-light">
                </div>
            </div>
            {% for group1 in object_list %}

            <div class="col-lg-12">
                <ul>
                    <h5>
                        <div class="intro-text">
                            Group Name: <a class='admonition-title'>{{ group1.title }}</a>
                        </div>
                    </h5>
                    <h5>Members:
                        <ul>{% for member in group1.participants.all %}
                            <li>{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </h5>
                    {% if user in group1.participants.all or user.is_superuser or user.username == group1.owner %}
                    <a href="{% url 'addmember' group1.pk %}"> Add Member</a>
                    {% endif %}
                    {% if user.username == group1.owner or user.is_superuser %}
                    <a href="{% url 'deleteGroup' group1.pk %}">Delete Group</a>
                    {% endif %}
                    <hr class="star-light">
                </ul>
            </div>
            <!--{#                <hr class="star-light">#}-->
            <p></p>

            {% empty %}
            <ul>
                <li>No groups yet</li>
            </ul>

            {% endfor %}


        </div>
    </div>
</div>

{% include 'footer.html' %}

</body>

</html>
