<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
<div class="jumbotron" id="bki" style="background-color: #04a9af">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowdFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
        {% if not logedin %}
            <p><a class="btn btn-primary btn-lg" href="/Lokahi/signup" role="button">Join here&raquo;</a>
                <a class="btn btn-primary btn-lg" href="/Lokahi/login" role="button">Login&raquo;</a></p>
        {% endif %}
    </div>
</div>
{% if all_groups %}
    {% for group in all_groups %}
        <div class="container">
            <div class="col-lg-12">
                        <ul>
                            <li> Group Title: {{ group.title }}</li>
                            <li> Group Ownder: {{ group.owner }}</li>
                            <li> Group Members: {{group.participants}}</li>
                        </ul>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="jumbotron" style="background-image: url('/Lokahi_Fintech/static/photos/carbackground.jpg') !important">
        <div class="container" style="text-align: center">
            <font color="white">
                <h1>No groups for this user.</h1>
            </font>
        </div>
    </div>
{% endif %}

<a class="btn btn-primary btn-lg" href="/Lokahi/addgroup" role="button">Create a New Group</a></p>



<div>
    <form action="{% url 'showreports' %}" method="post" id="new-report" class="ReportForm">
                {% csrf_token %}
                <h2>New Report</h2>
                </br>
                <label for='title'>Title: </label>
                {{form.title}}
                </br>
                <label for='body'>Body Text: </label>
                {{form.email}}
                </br>
{#                {{ form }}#}
                <div class="submit-row">
                    <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Save"/>
                </div>
            </form>

</div>

{% include 'footer.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/Lokahi_Fintech/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>