<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% include 'welcome.html' %}

<div class="container">
    <div class="row">
        {% if message %}
            {{ message }}
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
             <p><input type="submit" value="Add" /></p>


        </form>
    </div>
</div>

