<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
<div class="jumbotron" id="bki" style="background-color: #04a9af">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowdFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
    </div>
</div>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<!-- LOGIN TEST -->
<body>

{% load staticfiles %}


<h2>Groups</h2>
    <ul>
        {% for group1 in object_list %}
            <li> Title: {{ group1.title }}</li>
            <li> Members: {% for member in group1.participants.all %} {{ member }} | {% endfor %}</li>
            <a href="{% url 'addmember' group1.pk%}"> Add Member</a>
            {% if user.username == group1.owner %}
                <a href="{% url 'deleteGroup' group1.pk %}">Delete Group</a>
            {% endif %}


            <p>         </p>
            {% empty %}
            <li>No groups yet</li>
        {% endfor %}
    </ul>
            </div>
        </div>



{% include 'footer.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/Lokahi_Fintech/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
