{% load staticfiles %}
{% block content %}

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title> crowdFunding.com </title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    <nav class="navbar-wrapper navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">crowdFunding</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="#"> Hi, {{ user.username }} <span class="sr-only">(current)</span></a></li>
                        <li><a href="/Lokahi/logout">Logout</a></li>
                         <li><a href="/Lokahi/addgroup">Add Group</a> </li>
                        <li><a href="/Lokahi/GroupList">See Groups</a> </li>
                        <li><a href="/Lokahi/addreport">Add Report</a> </li>
                        <li><a href="/Lokahi/ReportList">See Reports</a> </li>
                    {% else %}
                        <li><a href="/Lokahi/signup">Sign Up <span class="sr-only">(current)</span></a></li>
                        <li><a href="/Lokahi/login">Login</a></li>
                    {% endif %}

                    <li><a href="/Lokahi/showusers/">Profile</a></li>
                </ul>

                {#        <div class="container-2" >#}
                {#          <span class="icon"><i class="fa fa-search"></i></span>#}
                {#            <input type="search" id="search" placeholder="Search..." />#}
                {#          </div>#}
                <ul class="nav navbar-right" style="margin-top : 8px">
                    <a href="https://www.facebook.com" class="btn btn-social-icon btn-facebook"><span
                            class="fa fa-facebook"></span></a>
                    <a href="https://plus.google.com" class="btn btn-social-icon btn-google"><span
                            class="fa fa-google"></span></a>
                    <a href="https://github.com/" class="btn btn-social-icon btn-github"><span
                            class="fa fa-github"></span></a>
                </ul>

            </div>
        </div>
    </nav>

{% endblock %}
