<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<!-- LOGIN TEST -->
<body>

{% load staticfiles %}
{% include 'welcome.html' %}

<div class="container">
    <div class="row">
        {% if message %}
            {{ message }}
        {% endif %}

        <form action="" method="POST" id="login-form" class="form-group">
            {% csrf_token %}
            <label for="username">Username: </label>
            {{ form.username }}
            </br>
            <label for="password">Password: </label>
            {{ form.password }}
            <div class="submit-row">
                <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Log in"/>

            </div>
            <p>Not a user? Register <a href="Lokahi/signup/">here</a></p>


            <div>
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
