<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% include 'header2.html' %}

<body>
<div class="jumbotron" id="bki" style="background-color: #04a9af">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowdFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="Lokahi/sendMessage" role="button">Send a message&raquo;</a></p>
        <p><a class="btn btn-primary btn-lg" href="/Lokahi/inbox">Return to inbox </a></p>
    </div>
</div>
<div class="container">
    <div class="row">
            {% include 'sidebar.html' %}
                <div class="col-md-1"></div>
        <div class="col-md-8">
        <br>
            <h3>Message details:</h3>
            {% if message %}
                <div class="alert alert-warning">
                    <p>From: {{ message.sender }}</p>
                    <p>Time: {{ message.time }}</p>
                    <p>Encrypted?: {{ message.to_encrypt }}</p>
                </div>
                <div class="alert alert-warning">
                    {% if message.to_encrypt %}
                        <div style="width: 50px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ message.content }}</div>
                    {% else %}
                        <p>Content: {{ message.content }}</p>
                    {% endif %}
                </div>
                {% if message.to_encrypt == True %}
                    <a class="btn btn-default" href="/Lokahi/message_detail_decrypted/{{ message.id }}" role="button">Decrypt&raquo;</a>
                {% endif %}
            {% else %}
                <strong>Poor internet connection, content can not be loaded.</strong>
            {% endif %}

            {% if dec %}
                <h3>Decrypted Message details:</h3>
                <div class="alert alert-warning">
                    <p>Content: {{ plaintext }}</p>
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% include 'footer.html' %}

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
