<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<!-- LOGIN TEST -->
<body>

{% load staticfiles %}
<div class="jumbotron" id="bki" style="background-image: url({% static 'photos/crowdfunding1.jpg' %})">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Join here&raquo;</a></p>
    </div>
</div>

<h2>Reports</h2>
    <ul>
        <a href="{% url "addfile" %}"> Upload file</a>
        <a href="{% url "filelist" %}"> View  All Files</a>
        {% for report in object_list %}
        {% if user.is_superuser or user in report.viewers.all or not report.private %}
            <li> Owner: {{ report.owner }}</li>
            <li> Title: {{ report.title }}</li>
            <li> Company: {{ report.company }}</li>
            <li> Phone {{ report.phone }}</li>
            <li> Location: {{ report.location }}</li>
            <li> Country: {{ report.country}}</li>
            <li> Industry: {{ report.industry }}</li>
            <li> Projects: {{ report.projects }}</li>
            <li> Files: {% for file in report.files.all %} {{ file }} | {% endfor %}</li>
            <li> Private: {{ report.private }}</li>
            <li> Members with access: {% for user in report.viewers.all %} {{ user }} | {% endfor %}</li>
            <a href="{% url "linkfile" report.pk%}"> Link File</a>
            {% if user.is_superuser %}
                <a href="{% url "deleteReport" report.pk %}">Delete Report</a>
            {% endif %}
        {% endif %}
            <p>         </p>
            {% empty %}
            <li>No reports yet</li>
        {% endfor %}
    </ul>
            </div>
        </div>




{% include 'footer.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/Lokahi_Fintech/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
