<!DOCTYPE html>
<html lang="en">
{% include 'header2.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<!-- LOGIN TEST -->
<body>

{% load staticfiles %}
<div class="jumbotron" id="bki" style="background-image: url({% static 'photos/crowdfunding1.jpg' %})">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Join here&raquo;</a></p>
    </div>
</div>

<h2>Reports</h2>
    <ul>
        {% for report in reports %}
            <li> Title: {{ report.title }}</li>
            <li> Company: {{ report.company }}</li>
            <li> Owner: {{ report.owner }}</li>
            <li> Phone {{ report.phone }}</li>
            <li> Location: {{ report.location }}</li>
            <li> Country: {{ report.country}}</li>
            <li> Industry: {{ report.industry }}</li>
            <li> Owner: {{ report.owner }}</li>
            <li> Projects: {{ report.projects }}</li>
            <li> Private: {{ report.is_private }}</li>
            <li> Encrypted?: {{ report.is_encrypted }}</li>
            <li> Created at: {{ report.created_at }}</li>
            {% for f in report.files.all %}
            <li> File Encrypted: {{ f.encrypted }}</li>
            <li><a href="/{{f.actualurl}}" target="_blank">{{f.file.name}}</a>
                <br>
            {% endfor %}
            <br>
            <br>
            <h5> Add Additional Files to Report</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <br>
                <button name="submit" class="button special" value="submit">Add Files</button>
            </form>

            </li>

            {% if user.username == report.owner %}
                <a href="{% url "deleteReport" report.pk %}">Delete Report</a>
            {% endif %}

            <p>         </p>
            {% empty %}
            <li>No reports yet</li>
        {% endfor %}
    </ul>
            </div>
        </div>



{% include 'footer.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/Lokahi_Fintech/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
