<!DOCTYPE html>
<html lang="en">
<body>
{% include 'header2.html' %}
{% load staticfiles %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<div class="jumbotron" id="bki" style="background-image: url({% static 'photos/crowdfunding1.jpg' %})">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="Lokahi/signup" role="button">Join here&raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if is_registered %}
            <script>alert("You are successfully registered with \n Username:{{user.username }} and \n Email: {{ user.email }}")</script>
        {% else %}
            <form action="{% url 'signup' %}" method="post" id="signup-form" class="form-group">
                {% csrf_token %}
                <h2>Sign Up</h2>
                </br>
                <label for="username">Username: </label>
                {{form.username}}
                </br>
                <label for="email">Email: </label>
                {{form.email}}
                </br>
                <label for="password">Password: </label>
                {{form.password}}
                </br>
                <div class="alert alert-info">
                    <p>Your password should be at least 6 characters long</p>
                </div>
                <label for="password-retype">Retype-password: </label>
                {{form.retype_password}}
                </br>
                <div class="alert alert-info">
                    <p>Type the same password again</p>
                </div>
                <label for="password-retype">User Type: </label>
                {{form.type}}
                </br>
                <label for="organization">Organization:</label>
                {{ form.company }}
                </br>
                <div class="alert alert-info">
                    <p>Company Users Must Specify This</p>
                </div>
{#                {{ form }}#}
                <div class="submit-row">
                    <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Register"/>
                </div>
            </form>
            
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
