<!DOCTYPE html>
<html lang="en">
<body>
{% include 'header2.html' %}
{% load staticfiles %}
<div class="jumbotron" id="bki" style="background-image: url({% static 'photos/crowdfunding1.jpg' %})">
    <div class="container">
        <font color="white">
            <h1>Welcome to crowdFunding.com!</h1>
            <p>Here at crowFunding.com we are dedicated to providing quality crowdfunding opportunities for
                customers</p>
        </font>
        <p><a class="btn btn-primary btn-lg" href="Lokahi/signup" role="button">Join here&raquo;</a></p>
    </div>
</div>


<div class="container">
    <div class="row">
        {% if message %}
            {% for m in message %}
                <div class="alert alert-warning">
                    {{ m }}
                </div>
            {% endfor %}
        {% endif %}
        {% if is_registered %}
            <script>alert("You are successfully registered with Username:{{user_obj.username }} and Email: {{ user_obj.email }}")</script>
        {% else %}
            <form action="{% url 'signup' %}" method="post" id="signup-form">
                {% csrf_token %}
                {{ form }}
                <div class="submit-row">
                 <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Register" />
                </div>
            </form>
        {% endif %}
        {#       <form action="" method="POST" id="signup-form">#}
        {#       {% csrf_token %}#}
        {#       <h2>Sign Up</h2>#}
        {#        </br>#}
        {#        <label for="username">Username: </label>#}
        {#        {{SignupForm.username}}#}
        {#        </br>#}
        {##}
        {#        <label for="password">Password: </label>#}
        {#        {{SignupForm.password}}#}
        {#        </br>#}
        {#        <div class="alert alert-info">#}
        {#          <p>Your password should be at least 6 characters long</p>#}
        {#        </div>#}
        {#        <label for="password_repeat">Retype Password: </label>#}
        {#        {{SignupForm.password_repeat}}#}
        {#        </br>#}
        {##}
        {#        <label for="first_name">First Name: </label>#}
        {#        {{SignupForm.first_name}}#}
        {#        </br>#}
        {##}
        {#        <label for="last_name">Last Name: </label>#}
        {#        {{SignupForm.last_name}}#}
        {##}
        {#        <br/>#}
        {#        <br/>#}
        {##}
        {#          <div class="submit-row">#}
        {#          <label>&nbsp;</label><input class="btn btn-primary btn-md" type="submit" value="Register" />#}
        {#        </div>#}
        {#      </form>#}
        {#      <br/>#}

    </div>
</div>

{% include 'footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/Lokahi_Fintech/static/js/bootstrap.min.js"></script>
</body>
</html>
